<!--<md-toolbar color="primary" class="mat-elevation-z6" style="position: fixed;">
  <b><a routerLink="/" style="text-decoration: none; color: #fff;"> < name > </a></b>
  <span class="spacer"></span>
  <button md-icon-button [mdMenuTriggerFor]="menu"><md-icon>more_vert</md-icon></button>
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="viewAboutDialog()">
      <span>About</span>
    </button>
  </md-menu>
</md-toolbar>-->

<div class="main">

    <img class="image" width="300" [src]="image_url">

    <input id="photo" class="image-select" type="file" (change)="displayImage($event)" #fileInput placeholder="Upload file..." />
    <button class="upload-button" type="button" (click)="upload()">Upload</button>

    <pre class="result">{{result}}</pre>

</div>
