.main {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.spacer {
    flex: 1 1 auto;
}

.image {
    align-self: center;
    margin-top: 5em;
}

.image-select {
    align-self: center;
    margin: 1em;
}

#photo {
    display: none;
}

.upload-button {
    align-self: center;
    margin: 1em;
}

.result {
    margin: 1em;
    align-self: center;
    font-size: xx-large;
    text-align: center;
}